.navbar-inverse .navbar-nav > .active > a {
  background: #521212; }
  .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background: #521212; }

.navbar-default .navbar-nav > li > a {
  color: #727272; }

.navbar {
  border-radius: 0; }
  .navbar li {
    transition: 0.2s ease;
    border-bottom: 4px solid transparent; }
  .navbar li:hover, .navbar .active {
    border-bottom: 4px solid #df2e60; }
  .navbar li.divider {
    border-bottom-width: 0; }
  .navbar a {
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .navbar input[name="search_term"] {
      width: 8em; } }

/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px; }

/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0; }

/*
.featured .thumbnail img {
  max-height: 256px;
  width: auto;
}*/
.featured .thumbnail {
  width: 100%; }

footer {
  background: #000;
  color: #fff; }
  footer h1, footer h2, footer h3 {
    color: #fff; }
  footer .list-group-item a {
    color: #9d9d9d; }
    footer .list-group-item a:hover, footer .list-group-item a:active, footer .list-group-item a.active {
      color: #fff; }

[id="search_results"] {
  position: static;
  display: block;
  width: 100%; }
  @media screen and (max-width: 768px) {
    [id="search_results"] {
      box-shadow: none; } }
  @media screen and (min-width: 768px) {
    [id="search_results"] {
      right: 10em;
      top: 3em;
      z-index: 50;
      width: 10em;
      position: absolute; } }

.search_results {
  background: #fff;
  list-style: none;
  font-size: 1.2em;
  padding: 0.875em;
  border: 1px solid #df2e60;
  border-radius: 4px; }

h1, h2, h3 {
  font-family: Raleway, -apple-system, system-ui, BlinkMacSystemFont, "Segoue UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold; }

h1 {
  color: #8f2878; }

h2, h3 {
  color: #521212; }

main {
  min-height: 100vh; }

.banner {
  width: 100%;
  min-height: 20vh;
  margin: 1em 0;
  background-size: cover;
  background-repeat: no-repeat; }
  .banner .vcentre {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-right: 5vw; }
  .banner p {
    font-size: 3rem; }
  .banner h1, .banner p {
    text-align: right;
    color: #fff; }

[id="custom-made"] {
  max-width: 100%; }

iframe[id="contact-map"] {
  width: 100%;
  min-height: 80vh;
  border: 0; }

textarea {
  resize: vertical; }

.btn.btn-primary, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #8f2878;
  border-color: #521212; }
  .btn.btn-primary:hover, .pagination > .active > a:hover, .pagination > .active > a:focus:hover, .pagination > .active > a:hover:hover, .pagination > .active > span:hover, .pagination > .active > span:focus:hover, .pagination > .active > span:hover:hover, .list-group-item.active:hover, .list-group-item.active:focus:hover, .list-group-item.active:hover:hover {
    background-color: #b73399; }

.pagination > li > a, .pagination > li > span, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: #521212; }

.list-group-item, footer .list-group-item {
  background: inherit;
  color: #555; }
  .list-group-item a {
    padding-left: 1em;
    color: #111;
    text-decoration: none;
    transition: color 0.2s ease, border-left-color 0.2s ease;
    border-left: 4px solid transparent; }
    .list-group-item a:hover, .list-group-item a:active, .list-group-item a.active {
      color: #000;
      border-left-color: #df2e60; }

a {
  color: #8f2878;
  text-decoration: underline; }
  a:hover, a:active {
    color: #b73399; }
  a.list-group-item, a.btn {
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
