/* position dots up a bit */
.flickity-page-dots {
  bottom: -22px;
}
/* dots are lines */
.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
}
/*
.featured .thumbnail img {
  max-height: 256px;
  width: auto;
}*/

.featured .thumbnail {
  width: 100%;
}
