footer {
  background: #000;
  color: #fff;

  h1, h2, h3 {
    color: #fff;
  }

  .list-group-item {
    @extend .list-group-item;

    a {
      color: #9d9d9d;

      &:hover, &:active, &.active {
        color: #fff;
      }
    }
  }
}


