
.navbar-inverse .navbar-nav > .active > a {
  background: $colour-dark;  

  &:focus, &:hover {
    background: $colour-dark;
  }
}

.navbar-default .navbar-nav > li > a {
  color: #727272;
}

.navbar {
  border-radius: 0;

  li {
    transition: 0.2s ease;
    border-bottom: 4px solid transparent;
  }

  li:hover, .active {
    border-bottom: 4px solid $colour-primary;
  }

  li.divider {
    border-bottom-width: 0; 
  }

  a {
    text-decoration: none;
  }

  input[name="search_term"] {
    @media screen and (min-width: $screen-sm-min) {
      width: 8em;
    }
  }
}
