[id="search_results"] {
  position: static;
  display: block;
  width: 100%;

  @media screen and (max-width: $screen-sm-min) {
    box-shadow: none;
  }
  
  @media screen and (min-width: $screen-sm-min) {
    right: 10em;
    top: 3em;
    z-index: 50;
    width: 10em;
    position: absolute;
  }
}

.search_results {
  background: #fff;
  list-style: none;
  font-size: 1.2em;
  padding: 0.875em;
  border: 1px solid $colour-primary;
  border-radius: 4px;
}
