$primary-font: -apple-system,
                   system-ui,
          BlinkMacSystemFont,
                 "Segoue UI",
                      Roboto,
                      "Helvetica Neue", Arial, sans-serif !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

$phi: 1.6180339887498948482; // Otherwise known as the golden ratio

// Colours
$colour-primary: #df2e60;
$colour-secondary: #8f2878;
$colour-dark: #521212;
$colour-light: lighten(#e2a222, 30%);

@import '_navbar';
@import '_header';
@import '_carousel';
@import '_footer';
@import '_search';

h1, h2, h3 {
  font-family: Raleway, $primary-font;
  font-weight: bold;
}

h1 {
  color: $colour-secondary;
}
h2, h3 {
  color: $colour-dark;
}

main {
  min-height: 100vh;
}

.banner {
    width: 100%;
    min-height: 20vh;
    margin: 1em 0;
    background-size: cover;
    background-repeat: no-repeat;

    .vcentre {
      margin-top: 5em;
      margin-bottom: 5em;
      margin-right: 5vw;
    }

    p {
      font-size: 3rem;
    }

    h1, p {
      text-align: right;
      color: #fff;
    }
}

[id="custom-made"] {
  max-width: 100%;
  //height: 20vh;
}

iframe[id="contact-map"] {
  width: 100%;
  min-height: 80vh;
  border: 0;
}

textarea {
  resize: vertical;
}

.btn.btn-primary, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: $colour-secondary;
  border-color: $colour-dark;
  &:hover {
    background-color: lighten($colour-secondary, 10%);
  }
}

.pagination > li > a, .pagination > li > span, .pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
  color: $colour-dark;
}

.list-group-item {
  background: inherit;
  color: #555;

  a {
    padding-left: 1em;
    color: #111;
    text-decoration: none;
    transition: color 0.2s ease, border-left-color 0.2s ease;
    border-left: 4px solid transparent;

    &:hover, &:active, &.active {
      color: #000;
      border-left-color: $colour-primary;
    }
  }
}

a {
  color: $colour-secondary;
  text-decoration: underline;

  &:hover, &:active {
    color: lighten($colour-secondary, 10%);
  }

  &.list-group-item, &.btn {
    text-decoration: none;
  }
}

