<h1 id="html-scripting-project-semester-1-2017">HTML + Scripting Project (Semester 1 2017)</h1>
<h2 id="by-quang-minh-nguyen">By Quang Minh Nguyen</h2>
<h1 id="getting-up-and-running">Getting up and running</h1>
<p>Copy this directory into your www directory. Where it is located is important since some configuration is necessary. For example, if your directory is <code>www/bobblehead</code>, we need to note the URL for the site is <code>http://localhost/bobblehead</code> (note no trailing slash).</p>
<p>Then open up <code>application/config/config.php</code> and set <code>$config['base_url']</code> to the URL of the site:</p>
<pre><code>$config[&#39;base_url&#39;] = &#39;http://localhost/bobblehead&#39;;</code></pre>
<h2 id="database">Database</h2>
<p>You'll need to additionally set up a new database in MySQL, with a collation of <code>utf8_general_ci</code>. For example, <code>mnguyen_bobbleshop</code>.</p>
<p>Open up <code>application/config/database.php</code> and set the <code>port</code>, <code>username</code>, <code>password</code>, and <code>database</code> keys to the configuration of your local system. For example:</p>
<pre><code>$db[&#39;default&#39;] = array(
  ...
  &#39;port&#39;      =&gt;  &#39;3306&#39;,
  &#39;username&#39;  =&gt;  &#39;root&#39;,
  &#39;password&#39;  =&gt;  &#39;&#39;,
  &#39;database&#39;  =&gt;  &#39;mnguyen_bobbleshop&#39;
  ...
);</code></pre>
<h2 id="importing-test-data">Importing Test Data</h2>
<p>Going back to MySQL, import <code>database.sql</code> into <code>mnguyen_bobbleshop</code>. It contains a series of sample records to get started with. Of course, if you run into this error:</p>
<pre><code>Ending quote &#39; was expected.</code></pre>
<p>This means that you've run into a bug with an old version of phpMyAdmin<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a>. You'll need to import the SQL file manually using the MySQL console executable:</p>
<pre><code>C:\&gt; C:\wamp\bin\mysql5.7.11\bin\mysql.exe -u root mnguyen_bobbleshop &lt; database.sql</code></pre>
<p>Substitute 'root' with a different MySQL user if necessary, and add <code>-p password</code> if a password is needed.</p>
<h2 id="logging-in-and-using-the-site">Logging in and using the site</h2>
<p>Go to http://localhost/bobblehead.</p>
<p>The first user john@smith.local is set as an admin of the site and thus has a lot of extra tools compared to a regular user. To login, specify the following:</p>
<ul>
<li>E-mail: john@smith.local</li>
<li>Password: john</li>
</ul>
<p>This e-mail/password convention is used for almost all users on the site.</p>
<h1 id="libraries-and-frameworks-used">Libraries and Frameworks used</h1>
<ul>
<li>Codeigniter 3 (PHP Framework)</li>
<li>HTML Purifier (PHP library to sanitise HTML inputs)
<ul>
<li>(application/helpers/htmlpurifier_helper.php)</li>
<li>(application/third_party/HTMLPurifier.standalone.php)</li>
</ul></li>
<li>CKEditor (RTF text editor for textareas) - (js/ckeditor)</li>
<li>Bootstrap 3 (CSS Framework) - CDN (application/views/templates/header.php)</li>
<li>jQuery (JS Framework) - CDN (application/views/templates/header.php)</li>
<li>Flickity (Carousels, slideshows) - CDN (application/views/templates/header.php)</li>
<li>EaselJS, TweenJS (Canvas banner) - CDN (application/views/templates/header.php)</li>
</ul>
<h1 id="tasks-attempted">Tasks attempted</h1>
<h2 id="login-feature">3. Login Feature</h2>
<p>Login functionality is provided through the User model, views and controllers (MVC).</p>
<p>Relevant files:</p>
<ul>
<li>application/controllers/User.php: Controller functions for navigation</li>
<li>application/models/User_model.php: Database functions</li>
<li>application/views/user: Forms and other views for users</li>
</ul>
<h2 id="autofill">4. Autofill</h2>
<p>The enquiry form located at <code>http://localhost/bobblehead/custom</code> automatically fills in the name and e-mail fields, using session data set upon login.</p>
<p>Relevant files:</p>
<ul>
<li>application/views/custom/inquiry_form.php</li>
</ul>
<h2 id="hover-custom-tooltip">6. Hover custom tooltip</h2>
<p>Tooltips are a component provided by Bootstrap, and are integrated into the Bobblehead Gallery under item 10.</p>
<p>Relevant files:</p>
<ul>
<li>application/views/pages/home.php</li>
</ul>
<h2 id="search-functionality">7. Search functionality</h2>
<p>Searching can be done in the header of the site. It first checks that the search is not empty, then uses a <code>LIKE</code> operation to retrieve results. This could be expanded to search the description in addition to the name, but this has not been implemented at this time.</p>
<p>Relevant files:</p>
<ul>
<li>application/views/templates/header.php</li>
<li>application/models/Bobblehead_model.php</li>
</ul>
<h2 id="recommended-bobbleheads-gallery">10. Recommended Bobbleheads Gallery</h2>
<p>This is a gallery that allows a user to move back and forwards through recent bobbleheads.</p>
<p>Relevant files:</p>
<ul>
<li>application/views/pages/home.php</li>
</ul>
<h2 id="news-articles-listed-by-headline">11. News articles listed by headline</h2>
<p>Selecting a headline from the index page will expand it to show the full story.</p>
<p>Relevant files:</p>
<ul>
<li>application/views/pages/home.php</li>
</ul>
<h1 id="html-validation">HTML Validation</h1>
<p>Pages that have been validated include:</p>
<ul>
<li>localhost/bobblehead/</li>
<li>localhost/bobblehead/custom</li>
<li>localhost/bobblehead/about</li>
<li>localhost/bobblehead/news</li>
<li>localhost/bobblehead/contact</li>
<li>localhost/bobblehead/collections/star-wars/item/darth-vader</li>
</ul>
<p>CSS that has been validated includes</p>
<ul>
<li>localhost/css/main.css</li>
</ul>
<h1 id="other-code">Other code</h1>
<p>There is other code functionality that is out of the scope of this assignment. Namely, the following features are listed:</p>
<ul>
<li>User registration, editing, deletion: Users can register and edit their own details</li>
<li>News articles: Create, edit, delete news articles</li>
<li>Bobblehead collection and bobbleheads: Create and edit bobblehead collections as well as items</li>
</ul>
<p>Other files that may be of interest include:</p>
<ul>
<li>application/config/routes.php: Contains routing rules</li>
<li>application/views/templates: Contains HTML templates for the header and footer</li>
<li>scss: Contains SCSS files that compile to the css directory</li>
<li>application/migrations: contains code used in the database migration to create the tables and entries.</li>
</ul>
<h1 id="things-that-arent-complete">Things that aren't complete</h1>
<ul>
<li>The relationship between collections and bobbleheads is not established in the database, so deleting a collection will lead to erronous behaviour</li>
<li>News browsing doesn't happen with date filters (year, month, day)</li>
<li>When editing bobbleheads or news items, the datetime-local field is prepopulated by the database without the required T separator, leading to database updates of '0000-00-00 00:00:00'</li>
<li>The input of <code>datetime-local</code> doesn't have support in most browsers, and I have not enabled functionality to make it use a custom widget.</li>
<li>The sale_date of Bobbleheads isn't used yet</li>
</ul>
<div class="footnotes">
<hr />
<ol>
<li id="fn1"><p>1<a href="#fnref1">↩</a></p></li>
</ol>
</div>
